In [2]:
import pandas as pd
import pandas_ta as ta
import yfinance as yf
import matplotlib as plt

In [7]:
data = yf.download(tickers="^GSPC", start="2012-03-11", end = "2023-08-09")
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-03-12,1370.780029,1373.040039,1366.689941,1371.089966,1371.089966,3081870000
2012-03-13,1371.920044,1396.130005,1371.920044,1395.949951,1395.949951,4386470000
2012-03-14,1395.949951,1399.420044,1389.969971,1394.280029,1394.280029,4502280000
2012-03-15,1394.170044,1402.630005,1392.780029,1402.599976,1402.599976,4271650000
2012-03-16,1402.550049,1405.880005,1401.469971,1404.170044,1404.170044,5163950000
...,...,...,...,...,...,...
2023-08-02,4550.930176,4550.930176,4505.750000,4513.390137,4513.390137,4270710000
2023-08-03,4494.270020,4519.490234,4485.540039,4501.890137,4501.890137,4149120000
2023-08-04,4513.959961,4540.339844,4474.549805,4478.029785,4478.029785,4143310000
2023-08-07,4491.580078,4519.839844,4491.149902,4518.439941,4518.439941,3493920000
2023-08-08,4498.029785,4503.310059,4464.390137,4499.379883,4499.379883,3884910000

In [ ]:
# Adding indicators
# Relative strength index: charts the current strength or weakness of the stock based on the closing prices of recent trading period.
data['RSI'] = ta.rsi(data.Close, length=15)

data['EMAF'] = ta.ema(data.Close, length=20)
data['EMAM'] = ta.ema(data.Close, length=100)
data['EMAS'] = ta.ema(data.Close, length=150)

data['Target'] = data['Adj Close']-data.Open
data['Target'] = data['Target'].shift(-1)

data['TargetClass'] = [1 if data.Target[i]>0 else 0 for i in range(len(data))]
data['TargetNextClose'] = data['Adj Close'].shift(-1)

data.dropna(inplace=True)