<a href="https://colab.research.google.com/github/JaredLevi18/Stock-market-predictor./blob/main/model_v3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install pandas_ta

Requirement already satisfied: pandas_ta in /usr/local/lib/python3.10/dist-packages (0.3.14b0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandas_ta) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandas_ta) (1.16.0)

In [9]:
import numpy as np
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torch.utils.data import DataLoader, Dataset
import matplotlib.pyplot as plt
import pandas_ta as ta
import pandas as pd
import yfinance as yf

In [22]:
# donwload the data
company = input("Enter the company: ")
def get_data(company):
  # downloading the data
  data = yf.download(tickers=company, start="2012-01-01", end="2023-09-16")

  # adding indicators with the help of pandas_ta
  data['RSI'] = ta.rsi(data.Close, length=15)

  data['EMAF'] = ta.ema(data.Close, length=20)
  data['EMAM'] = ta.ema(data.Close, length=100)
  data['EMAS'] = ta.ema(data.Close, length=150)

  data['Target'] = data['Adj Close']-data.Open
  data['Target'] = data['Target'].shift(-1)

  data['TargetClass'] = [1 if data.Target[i]>0 else 0 for i in range(len(data))]
  data['TargetNextClose'] = data['Adj Close'].shift(-1)

  # cleaning data
  data.dropna(inplace=True)
  data.reset_index(inplace=True)
  data.drop(['Volume', 'Close', 'Date'], axis=1, inplace=True)

  dataset = data.iloc[:, 0:11]

  return dataset

pd.set_option('display.max_columns', None)
dataset = get_data(company)
dataset.head(20)

Enter the company: MSFT
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Adj Close,RSI,EMAF,EMAM,EMAS,Target,TargetClass,TargetNextClose
0,30.000000,30.110001,29.809999,24.168554,52.616542,29.638579,30.074739,30.378000,-5.651293,0,24.418707
1,30.070000,30.350000,29.870001,24.418707,55.463289,29.697762,30.078407,30.376437,-5.734804,0,24.475195
2,30.209999,30.469999,30.110001,24.475195,56.101364,29.757975,30.083390,30.375822,-5.777624,0,24.612375
3,30.389999,30.650000,30.299999,24.612375,57.679066,29.828644,30.091639,30.377467,-5.952175,0,24.547825
4,30.500000,30.620001,30.250000,24.547825,56.652477,29.884964,30.098141,30.378030,-5.826385,0,24.523615
5,30.350000,30.459999,30.160000,24.523615,56.250217,29.933062,30.103921,30.378189,-5.825125,0,24.474874
6,30.299999,30.389999,30.010000,24.474874,52.770940,29.951818,30.104437,30.374901,-5.578274,0,24.531727
7,30.110001,30.280001,30.020000,24.531727,53.598865,29.975455,30.106330,30.372585,-5.357134,0,25.002867
8,30.360001,30.940001,30.260000,25.002867,59.847402,30.052078,30.119670,30.377981,-5.819651,0,25.100349
9,30.920000,30.920000,30.590000,25.100349,61.011264,30.132833,30.135122,30.384895,-5.849621,0,24.970379
10,30.820000,30.850000,30.580000,24.970379,58.585313,30.190658,30.147099,30.389599,-5.740887,0,25.019114
11,30.760000,30.959999,30.610001,25.019114,59.236542,30.248691,30.160028,30.395034,-5.782085,0,24.807915
12,30.590000,30.760000,30.469999,24.807915,55.206096,30.276434,30.167552,30.396954,-5.809526,0,24.580473
13,30.389999,30.400000,30.080000,24.580473,51.187459,30.274869,30.169383,30.395140,-5.425835,0,24.824165
14,30.250000,30.629999,30.180000,24.824165,54.951836,30.302024,30.177118,30.397324,-6.000231,0,24.929770
15,30.930000,30.959999,30.590000,24.929770,56.509058,30.338975,30.187274,30.401201,-5.818972,0,24.881029
16,30.700001,30.799999,30.520000,24.881029,55.559311,30.366691,30.196041,30.404231,-5.752728,0,24.897272
17,30.650000,30.750000,30.440001,24.897272,55.824475,30.393673,30.205030,30.407486,-5.900787,0,24.629213
18,30.530001,30.610001,30.219999,24.629213,50.497955,30.386656,30.207307,30.406327,-5.564640,0,25.035360
19,30.600000,30.959999,30.379999,25.035360,57.137202,30.427927,30.219439,30.411807,-5.763924,0,24.686077

In [25]:
# normalizing data
dataset = dataset.to_numpy() # no longer a pandas.DataFrame, now is a numpy array.
class normalizer():
  def __init__(self) -> None:
    super().__init__()
    self.mean = None
    self.std = None

  def fit_transform(self, x):
    self.mean = np.mean(x, axis=(0), keepdims=True)
    self.std = np.std(x, axis=(0), keepdims=True)
    normalized_x = (x - self.mean) / self.std
    return normalized_x

  def denormalize_data(self, x):
    return (x * self.std) + self.mean

scaler = normalizer()
normalized_data = scaler.fit_transform(dataset)
normalized_data[5]

array([-1.01397361, -1.01511695, -1.01363723, -1.01395713,  0.10366828,
       -1.01524056, -0.9994921 , -0.98713897, -0.31329717, -0.24395652,
       -1.0149609 ])